<div class="dropdown" [class]="dropDownExtraClasses()">
  <button class="btn btn-primary btn-outline" (click)="randomizeChart()">
    Random
    @if(category()) {
    ({{ category() }})
    }
  </button>
  <div tabindex="0" class="dropdown-content card card-sm bg-base-100 z-1 w-64 shadow-md/80 shadow-zinc-950">
    <div class="card-body">
      @if(randomChart()){
      <img [src]="randomChart()!.chart.song.imagePath" [alt]="randomChart()!.chart.song.name"
        class="border border-primary" />
      }
    </div>
  </div>
</div>