<form class="flex flex-col" [formGroup]="tierListForm" (ngSubmit)="formSubmit()">

  <div class="flex gap-1">
    <button type="button" class="btn btn-error flex-1" [class]="{
      'btn-soft':tierListForm.value.chartType!=='Single'
    }" (click)="tierListForm.get('chartType')?.setValue('Single')">Single</button>
    <button type="button" class="btn btn-success flex-1" [class]="{
      'btn-soft':tierListForm.value.chartType!=='Double'
    }" (click)="tierListForm.get('chartType')?.setValue('Double')">Double</button>
  </div>

  <div class="flex justify-center mt-2">
    <input type="number" class="input input-primary w-full" placeholder="Dificultad" formControlName="level" aria-label="Nivel de dificultad" />
  </div>

  <div class="flex gap-1 mt-2">

    <button type="submit" class="btn btn-primary btn-soft flex-1"
      (click)="tierListForm.get('saveFilter')?.setValue(false)">
      Buscar
    </button>

    <button type="submit" class="btn btn-primary flex-1" (click)="tierListForm.get('saveFilter')?.setValue(true)">
      Buscar y guardar
    </button>

  </div>

</form>