<a class="hover-3d cursor-pointer">

  <div class="card card-sm card-border bg-primary/5 shadow-sm" [class]="{'border-success': chartScore().score}">
    <figure>
      <img [src]="chartScore().chart.song.imagePath" [alt]="chartScore().chart.song.name" />
    </figure>
    <div class="card-body items-center text-center">
      <h2 class="card-title break-all">
        {{ chartScore().chart.song.name }}
      </h2>
      <div class="flex flex-row justify-evenly gap-2 w-full">
        @if(chartScore().score){
        <span class="font-bold">{{ chartScore().score?.score | number }}</span>
        <img [src]="chartScore().score!.isBroken
          ? `B_${chartScore().score!.letterGrade}`
          : `R_${chartScore().score!.letterGrade}` | imageSrc" [alt]="chartScore().score!.letterGrade" class="w-9">

        @if(chartScore().score!.plate){
        <img [src]="chartScore().score!.plate!.split(' ').map(word => word.charAt(0)).join('') | imageSrc"
          [alt]="chartScore().score!.plate!" class="w-7" />
        }
        }
      </div>
    </div>
  </div>

</a>