<div class="mt-4 lg:min-w-200">
  <table class="table table-xs sm:table-md">
    <!-- head -->
    <thead>
      <tr>
        <th>Canción</th>
        <th>Puntaje</th>
        <th>Fecha</th>
      </tr>
    </thead>
    <tbody>
      @for (score of scores(); track $index) {
      <tr>
        <td class="max-w-68 sm:max-w-full">
          <div class="flex items-center gap-3 max-w-4/5 sm:max-w-full">
            <div class="avatar">
              <div class="mask mask-squircle h-12 w-12">
                <img [src]="score.chart.song.imagePath" alt="score.chart.song.name" />
              </div>
            </div>
            <div class="w-full">
              <div class="font-bold wrap-break-word">{{ score.chart.song.name }}</div>
              <div class="text-sm opacity-50">{{ score.chart.shorthand }}</div>
            </div>
          </div>
        </td>
        <td class="min-w-16 sm:min-w-32 text-center">
          {{ score.score | number }}
          <br />
          <span class="badge badge-ghost badge-xs sm:badge-sm">{{ score.letterGrade }}</span>
        </td>
        <td class="min-w-24 sm:min-w-32 text-center">
          {{ score.recordedDate | date: 'dd/MM/yy' }}
          <br />
          <span class="badge badge-ghost badge-xs sm:badge-sm">
            Hace {{ daysAgo(score.recordedDate) }} días
          </span>
        </td>
      </tr>
      }
    </tbody>
  </table>
</div>