<div class="card card-xl bg-base-100 image-full w-96 sm:w-md md:w-lg lg:w-xl xl:w-2xl shadow-sm">
  <figure>
    <img [src]="chartScore.chart.song.imagePath" [alt]="chartScore.chart.song.name" />
  </figure>

  <div class="card-body">
    <h2 class="card-title">{{ chartScore.chart.song.name }} {{ chartScore.chart.shorthand }}</h2>

    <div class="flex flex-row grow items-center">

      <!-- Score -->
      @if(chartScore.score?.score){
      <score-data class="flex flex-col flex-1 gap-2 items-center" [chartScore]="chartScore" scoreDataSize="lg" />
      }
      @else {
      <p class="flex flex-col flex-1 gap-2 items-center">No hay ningún score cargado.</p>
      }

      <!-- Form para agregar score -->
      <score-form class="flex-1" [chartScore]="chartScore" (scoreSaved)="handleScoreSaved($event)" />

    </div>

    <div class="card-actions justify-end">
      <button class="btn btn-primary" (click)="closeDialog()">Cerrar</button>
    </div>
  </div>
</div>