<app-filters (searchFilters)="search($event)" (songTypesFilter)="searchBySongTypes($event)"
  (stagePassFilter)="searchByStagePass($event)" (savedFilter)="searchSavedFilter($event)"
  (songNameFilter)="searchBySongName($event)" />

<div class="divider"></div>

@if(isLoadingTierList()){
<div class="flex justify-center">
  <span class="loading loading-spinner text-primary"></span>
</div>
}

@for (tierListByCategory of tierListByCategories(); track $index) {

@if (tierListByCategory.charts.length > 0) {

<h2 class="text-xl font-bold">{{ tierListByCategory.category }}</h2>
<div class="grid grid-cols-2 gap-2 mt-2 sm:grid-cols-3 lg:grid-cols-4 xl:grid-cols-5 2xl:grid-cols-6">

  @for (chartScore of tierListByCategory.charts; track chartScore.chart.id) {

  <song-card [chartScore]="chartScore" (chartScoreUpdated)="handleChartScoreUpdated($event)" />

  }

</div>
<div class="divider"></div>

}

}
@empty {
<h2>No hay datos. Utiliza los filtros de búsqueda para obtener la lista.</h2>
}