<saved-filters (filter)="searchSavedFilter($event)" />

<div class="divider"></div>

<search-filters-form (searchFilters)="search($event)" (songTypesFilter)="searchBySongTypes($event)"
  (stagePassFilter)="searchByStagePass($event)" />

<div class="divider"></div>

<div class="flex justify-start mb-4">
  <label class="input input-primary">
    <svg class="h-[1em] opacity-50" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24">
      <g stroke-linejoin="round" stroke-linecap="round" stroke-width="2.5" fill="none" stroke="currentColor">
        <circle cx="11" cy="11" r="8"></circle>
        <path d="m21 21-4.3-4.3"></path>
      </g>
    </svg>
    <input #searchSongName type="search" placeholder="Buscar" (input)="searchBySongName(searchSongName.value)"
      (search)="searchBySongName(searchSongName.value)" />
  </label>
</div>

@if(isLoadingTierList()){
<div class="flex justify-center">
  <span class="loading loading-spinner text-primary"></span>
</div>
}

@for (tierListByCategory of tierListByCategories(); track $index) {

@if (tierListByCategory.charts.length > 0) {

<h2 class="text-xl font-bold">{{ tierListByCategory.category }}</h2>
<div class="grid grid-cols-2 gap-2 mt-2 sm:grid-cols-3 lg:grid-cols-4 xl:grid-cols-5 2xl:grid-cols-6">

  @for (chartScore of tierListByCategory.charts; track chartScore.chart.id) {

  <song-card [chartScore]="chartScore" (chartScoreUpdated)="handleChartScoreUpdated($event)" />

  }

</div>
<div class="divider"></div>

}

}
@empty {
<h2>No hay datos. Utiliza los filtros de búsqueda para obtener la lista.</h2>
}