<div class="join flex justify-center items-center gap-1">
  <button class="join-item btn btn-sm" [disabled]="currentPage() <= 1" [routerLink]="[]" (click)="goToPrevPage()"
    aria-label="Página anterior">
    ←
  </button>

  @for (page of visiblePages(); track page === 'ellipsis' ? 'ellipsis-' + $index : page) {

  @if (page === 'ellipsis') {
  <button class="join-item btn btn-sm btn-disabled">...</button>
  }
  @else if (page === currentPage()) {
  <input type="number" placeholder="Página actual" class="join-item input input-primary input-sm"
    [value]="currentPage()" min="1" [max]="totalPages()" (change)="goToPage(+inputPage.value)" #inputPage />
  }
  @else {
  <button class="join-item btn btn-sm" [routerLink]="[]" (click)="goToPage(page)">
    {{ page }}
  </button>
  }

  }

  <button class="join-item btn btn-sm" [disabled]="currentPage() >= totalPages()" [routerLink]="[]"
    (click)="goToNextPage()" aria-label="Página siguiente">
    →
  </button>
</div>