<h2 class="text-xl font-bold">Filtros guardados</h2>

@if(savedFiltersArray().length>0){

<div class="flex flex-wrap gap-1 mt-2">

  @for (searchFilter of savedFiltersArray(); track searchFilter.filter) {

  <div class="badge badge-xl badge-outline cursor-pointer" [class]="{
      'badge-outline': !searchFilter.isLastFilter,
      'text-white': searchFilter.isLastFilter,
      'badge-success': searchFilter.chartType==='Double',
      'badge-error': searchFilter.chartType==='Single'
    }" (click)="search(searchFilter.filter!)">
    {{ searchFilter | shortHand }}
  </div>

  }
</div>
}
@else {

<h2>Todavía no guardaste ningún filtro.</h2>

}