<h2 class="text-xl font-bold">Filtros guardados</h2>

@if(savedFiltersArray().length>0){

<div class="flex flex-wrap gap-1 mt-2">

  @for (searchFilter of savedFiltersArray(); track searchFilter.filter) {

  <button type="button" class="btn btn-outline cursor-pointer" [class]="{
      'btn-outline': !searchFilter.isLastFilter,
      'text-white': searchFilter.isLastFilter,
      'btn-success': searchFilter.chartType==='Double',
      'btn-error': searchFilter.chartType==='Single'
    }" (click)="search(searchFilter.filter!)">
    {{ searchFilter | shortHand }}
  </button>

  }
</div>
}
@else {

<h2>Todavía no guardaste ningún filtro.</h2>

}