<div class="card bg-base-300 text-base-content w-96">
  <div class="card-body items-center text-center">
    <h2 class="card-title">Random {{ data.filter }}</h2>
    <div>
      @if(randomChart()){
      <p class="mb-1">{{ randomChart()!.chart.song.name }}</p>
      <img [src]="randomChart()!.chart.song.imagePath" [alt]="randomChart()!.chart.song.name"
        class="border border-primary h-50" />
      }
    </div>
    <div class="card-actions justify-end">
      <button class="btn btn-primary" (click)="randomizeChart()">Seleccionar</button>
      <button class="btn" (click)="close()">Cerrar</button>
    </div>
  </div>
</div>