<div class="card bg-base-300 text-base-content w-96">
  <div class="card-body items-center text-center">
    <h2 class="card-title">Random {{ data.lastFilter.chartType }} {{ data.lastFilter.level }} {{ data.category }}</h2>
    <div class="h-50">
      @if(randomChart()){
      <img [src]="randomChart()!.chart.song.imagePath" [alt]="randomChart()!.chart.song.name"
        class="border border-primary" />
      }
    </div>
    <div class="card-actions justify-end">
      <button class="btn btn-primary" (click)="randomizeChart()">Seleccionar</button>
      <button class="btn" (click)="close()">Cerrar</button>
    </div>
  </div>
</div>